# Node modules (huge folders created by npm install)
node_modules/

# Local Environment variables (containing passwords, keys)
.env

# Playwright Test results (screenshots, videos, traces)
test-results/
playwright-report/
allure-results/
allure-report/
screenshots/
videos/
traces/
reports/

# IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Private Study guides
SYNOPSIS.md
SYNOPSIS.txt

